
footer {
    margin-left: 15vw;
    padding: 1em;
    background-color: rgba(11, 20, 43, 0.75);
    color: aliceblue;
}
footer ul {
    margin-right: 37%;
    transform: translate(50%);
}
footer ul li {
    display: inline;
    list-style: none;
}
footer ul li a {
    color: aliceblue;
}